<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ScriptPath" value="c:\dev\perf\scripts" />
    <add key="BackupLocation" value="e:\mssql\Backup" />
    <add key="StressBatchFileLocation" value="c:\dev\perf\stress.bat" />
    <add key="RMLFilePattern" value="c:\dev\perf\traceout_7_3\*.rml" />
    <add key="OStressOutputPath" value="c:\dev\perf\stressoutput" />
    <add key="RootPath" value="c:\dev\perf" />
    <add key="RedisPort" value="6379" />
    <add key="SecondsPerTest" value="6000" />
    <!--  <add key="ExecutionsPerMinute" value="400" /> 
    1200 = assessment, = sched=800-->
    <add key="CacheExpirationInterval" value="15" />
    <add key="DatabaseName" value="Performance" />
    <add key="ServerName" value="DV-05-D-SQL01" />
    <add key="RunRestore" value="false" />
    <add key="RunStress" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="TargetDatabase" connectionString="Data Source=DV-05-D-SQL01;Initial Catalog=Performance; Integrated Security=False;User ID=devops;pwd=devops123;" providerName="System.Data.SqlClient" />
    <add name="MasterDatabase" connectionString="Data Source=DV-05-D-SQL01;Initial Catalog=master; Integrated Security=False;User ID=devops;pwd=devops123;" providerName="System.Data.SqlClient" />
    <add name="TrackingDatabase" connectionString="Data Source=DV-05-D-SQL01;Initial Catalog=usage; Integrated Security=False;User ID=devops;pwd=devops123;Max Pool Size=200;" providerName="System.Data.SqlClient" />


    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>